.container{
    position: relative;

    /* .center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
    } */

    .center{
        position: absolute;
        top: 8px;
        left: 18px;

        font-size: 32px;
    }
    img{
        width: 100%;
        height: auto;
        opacity: 0.4;
    }
    
}
