.pagination{
    text-align: center;
    margin-bottom: 20px;
}
.pagination a{
    text-decoration: none;
    padding: 8px 12px;
    color: #000;
    margin-left: 4px;
    border-radius: 4px;
    transition: background-color .5s;
    transition-timing-function: ease-in-out;
}
.pagination a.active{
    background-color: rgb(61, 207, 61);
    color: #fff;
}
.pagination a:hover:not(.active){
    background-color: #ddd;
}

.hedding{
    column-span: all;
}

.para{
    column-count: 3;
    column-gap: 40px;
    column-rule: 1px solid #ddd;

}